*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --max-page-width: 1360px;
  font-size: 10px;
  font-family: roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  background-color: var(--color-content-bg);
}

.items {
  position: relative;
  width: 100%;
  padding: 2.4rem;

  &__actions {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: flex-end;

    &_left-pos {
      justify-content: flex-start;
    }
  }

  &__button {
    --button-height: 3.6rem;
    padding: 0 1.6rem;
    box-shadow: var(--shadow-button);
  }

  &__paginator {
    box-shadow: var(--shadow-block);
  }
}

.table {
  width: 100%;

  .v-table > .v-table__wrapper thead &__column {
    font-size: 1.2rem;
    text-align: left;
  }

  .v-table > .v-table__wrapper &__column {
    font-size: 1.4rem;

    &_id {
      width: 6rem;
    }

    &_title {
      max-width: 20rem;

      text-overflow: ellipsis;
      overflow: hidden;
      height: 1.2em;
      white-space: nowrap;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    &_text {
      width: 20rem;
    }

    &_completed {
      text-decoration: line-through;
    }
  }

  &__button-group {
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    min-width: 7.2rem;
  }

  &__button.mat-button-base.mat-icon-button {
    --button-height: 3.2rem;
    --button-width: 3.2rem;
  }

  &__button_delete.mat-button-base.mat-icon-button {
    color: var(--color-carmine-pink);
  }

  &__toggle-button {
    height: auto;
    line-height: 1.2;
    text-transform: lowercase;
    font-weight: var(--fw-normal);
    letter-spacing: normal;
    font-size: 1.4rem;
    color: var(--color-spanish-gray);
    padding: 0 0.4rem;
    border: 0;
    background: none;
    cursor: pointer;
  }
}

.mat-table {
  .mat-cell,
  .mat-header-cell {
    padding: 0.8rem 1.6rem;
    vertical-align: middle;
    color: var(--color-onyx);

    &.completed {
      text-decoration: line-through;
    }
  }

  .mat-button-wrapper .mat-icon svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.darkMode .mat-table {
  .mat-cell,
  .mat-header-cell {
    color: var(--color-platinum);
  }
}
