.v-btn {
  --button-height: 4rem;
  --v-theme-overlay-multiplier: var(--v-theme-primary-overlay-multiplier);
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  height: var(--button-height);
  line-height: var(--button-height);
  max-height: initial;
  border-radius: 0.4rem;
  padding: 0 3rem;
  cursor: pointer;
  min-height: var(--button-height);

  &.medium {
    --button-height: 4rem;
  }

  &.full-width {
    width: 100%;
  }

  &.rounded {
    border-radius: calc(var(--button-height) / 2);
  }
}

.darkMode {
  .v-btn {
    &.mat-stroked-button:not([disabled]) {
      border-color: var(--color-denim);
      color: var(--color-white);
      background-color: var(--color-tundora);
    }
  }
}
