:root {
  // colors
  --color-white: #FFF;
  --color-ghost-white: #F6F9FD; // bg
  --color-platinum: #E4E7EB;
  --color-quick-silver: #9EA0A5;
  --color-spanish-gray: #979797;
  --color-slate-gray: #66788A;
  --color-davis-gray: #56575A;
  --color-tundora: #424242;
  --color-onyx: #3A3B3F;
  --color-dark-gunmetal: #212529;
  --color-extra-black: #212121;
  --color-jungle-green: #26A69A;
  --color-mint: #47B881;
  --color-electric-violet: #6202EE;
  --color-violet-blue: #3F51B5;
  --color-denim: #1665D8;
  --color-chambray: #425a70;
  --color-carmine-pink: #EC4C47;
  --color-venetian-red: #BF0E08;
  --color-error: #cf6679;
  --color-mustard: #F7D154;

  --color-white-semi-transparent: rgba(255, 255, 255, 0.5);
  --color-carmine-pink-semi-transparent: rgba(236, 76, 71, 0.5);

  // shadows
  --shadow-block: 0px 1px 3px rgba(63,63,68,0.15), 0px 0px 1px rgba(63,63,68,0.05);
  --shadow-input: 0px 0px 1px var(--color-platinum);
  --shadow-button: 0px 1px 3px rgba(0,0,0,0.2), 0px 2px 1px -1px rgba(0,0,0,0.12), 0px 1px 1px rgba(0,0,0,0.14);

  // font-weight
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  // LIGHT
  --color-common-bg: var(--color-white);
  --color-common-title: var(--color-dark-gunmetal);
  --color-common-text: var(--color-slate-gray);

  --nav-border: var(--color-platinum);
  --nav-title-text: var(--color-onyx);
  --nav-subtitle-text: var(--color-quick-silver);
  --nav-link-text: var(--color-slate-gray);
  --nav-link-active-bg: var(--color-ghost-white);
  --nav-bg: var(--color-white);
  --color-bg-theme: var(--color-white);

  --color-content-bg: var(--color-ghost-white);

  --color-user-bg: var(--color-white);
  --color-user-bg-hover: var(--color-ghost-white);
  --color-user-name: var(--color-dark-gunmetal);

  // DARK
  .darkMode {
    --color-common-bg: var(--color-tundora);
    --color-common-title: var(--color-white);
    --color-common-text: var(--color-quick-silver);

    --nav-border: var(--color-onyx);
    --nav-title-text: var(--color-white);
    --nav-subtitle-text: var(--color-platinum);
    --nav-link-text: var(--color-platinum);
    --nav-link-active-bg: var(--color-onyx);
    --nav-bg: var(--color-dark-gunmetal);
    --color-bg-theme: var(--color-extra-black);

    --color-content-bg: var(--color-dark-gunmetal);

    --color-user-bg: var(--color-tundora);
    --color-user-bg-hover: var(--color-onyx);
    --color-user-name: var(--color-white);
  }
}
