<template>
  <header class="header">
    <div class="header__content">
      <a class="header__logo" href="/">
        <div class="header__logo-img">
          <img :src="logo" alt="">
        </div>
        <span class="header__logo-text">Devias Kit</span>
      </a>

      <div class="header__button-group">
        <ModeSwitcher />
        <LangSwitcher :light="true" />

        <v-btn
          @click="$emit('logout')"
          icon="mdi-logout"
          size="small"
          variant="text"
          color="white"
        />
      </div>
    </div>
  </header>
</template>

<script lang="ts">
  import { defineComponent } from "vue";
  import ModeSwitcher from "@/components/mode-switcher.vue";
  import LangSwitcher from "@/components/lang-switcher.vue";
  import logo from '@/assets/images/svg/logo.svg'

  export default defineComponent({
    components: {
      ModeSwitcher,
      LangSwitcher
    },
    data() {
      return {
        logo
      }
    }
  });
</script>

<style lang="scss" scoped>
.header {
  background-color: var(--color-violet-blue);

  &__content {
     display: flex;
     justify-content: space-between;
     align-content: center;
     min-height: 6.4rem;
     padding: 1rem 2.4rem;
     max-width: var(--max-page-width);
     margin: 0 auto;
   }

  &__logo {
     display: flex;
     align-items: center;
     text-decoration: none;
   }

  &__logo-img {
     width: 3.6rem;
     height: 3.6rem;
     margin-right: 1rem;
     color: var(--color-white);
   }

  &__logo-text {
     font-size: 2rem;
     font-weight: var(--fw-medium);
     color: var(--color-white);
   }

  &__button-group {
     display: flex;
     align-items: center;
     gap: 1rem;
   }

  &__buton-icon {
     width: 3.6rem;
     height: 3.6rem;
   }
}
</style>
