.v-overlay__content {
  .v-card {
    width: 41rem;
    margin: 0 auto;
    padding: 2.4rem;
  }

  .v-card-title {
    font-size: 2rem;
    margin: 0 0 16px;
    text-align: center;
    font-weight: var(--fw-medium);
  }

  .v-card-actions {
    justify-content: center;
  }
}
