.v-label {
  font-size: 1.4rem;
}

.v-label.v-field-label--floating {
  --v-field-label-scale: 0.75em;
}

.v-field__outline {
  --input-border-radius: 0.8rem;

  &__start {
    border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
  }

  &__end {
    border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
  }
}

.v-theme--dark.v-field {
  color: var(--color-white);
}

.v-input--error:not(.v-input--disabled) .v-input__details .v-messages {
  color: var(--color-error);
}