<template>
  <div class="items">
    <div class="items__actions items__actions_left-pos">
      <v-btn @click="getBack()" class="items__button" color="primary">
        <v-icon icon="mdi-arrow-left"/>
        {{ $t('BUTTONS.BACK') }}
      </v-btn>
    </div>

    <div class="album__content">
      <h2 class="album__title">({{ album?.id }}) {{ album?.title }}</h2>
      <div v-if="mode === ModeType.edit" class="actions">
        <v-btn
            @click="editAlbum"
            class="post__button"
            variant="outlined"
            color="primary"
        >{{ $t('BUTTONS.EDIT_ALBUM') }}
        </v-btn>
      </div>
    </div>

    <div class="album__photos">
      <h2 class="album__title album__title_underlined">
        {{ $t('HEADERS.PHOTOS') }}:
        <v-btn
            v-if="mode === ModeType.edit"
            @click="addPhoto"
            class="post__button"
            variant="outlined"
            color="primary"
        >
          <v-icon icon="mdi-plus"/>
          {{ $t('BUTTONS.ADD_PHOTO') }}
        </v-btn>
      </h2>

      <Gallery :photos="photos" :mode="mode" @delete-photo="deletePhoto" />
    </div>

  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import type {ICrumb} from "@/models/interfaces/crumb.interface";
import type { IAlbum } from "@/models/interfaces/album.interface";
import type {IUser} from "@/models/interfaces/user.interface";
import {useMainStore} from "@/stores/store";
import {ModeType} from "@/models/enums/mode-type.enum";
import {EntityUrl} from "@/models/enums/api.enum";
import {apiService} from '@/services/api/api-service';
import {useCrumbsStore} from "@/stores/crumbs-store";
import {EntityModalType} from "@/models/enums/entity-modal-types.enum";
import {useEntityDialogStore} from "@/stores/entity-dialog";
import Gallery from "@/components/gallery.vue"
import type { IPhoto } from "@/models/interfaces/photo.interface";
import {MessageModalType} from "@/models/enums/message-modal-type.enum";
import {SnackbarType} from "@/models/enums/snackbar-type.enum";
import {useMessageDialogStore} from "@/stores/message-dialog";
import {useSnackbarStore} from "@/stores/snackbar-store";
import modeMixin from "@/mixins/mode.mixin";
import {apiUserService} from "@/services/api/api-user-service"

export default defineComponent({
  components: {
    Gallery
  },
  mixins: [modeMixin],
  data() {
    return {
      store: useMainStore(),
      crumb: useCrumbsStore(),
      entityService: useEntityDialogStore(),
      album: null as IAlbum | null,
      photos: [] as IPhoto[],
      ModeType,
      apiService,
      messageService: useMessageDialogStore(),
      snackbar: useSnackbarStore(),
      apiUserService
    }
  },
  computed: {
    crumbsList(): ICrumb[] {
      let crumbs: ICrumb[] = [...this.getBaseCrumbsList];

      crumbs.push({
        title: 'BREAD_CRUMBS.ALBUMS',
        disabled: false,
        to: './../albums'
      },
      {
        title: this.album?.title as string,
        disabled: true,
        to: '',
        notTranslate: true
      });

      return crumbs;
    },
  },
  methods: {
    getBack(): void {
      this.$router.go(-1);
    },

    getAlbumId(): number {
      return +this.$route.params.id;
    },

    getAlbum(): Promise<IAlbum> {
      return this.apiService.getItem(this.getAlbumId(), EntityUrl.albums);
    },

    getUser(): Promise<IUser> {
      return this.apiService.getItem(this.userId, EntityUrl.users);
    },

    getPhotos(): Promise<IPhoto[]> {
      return this.apiService.getItems(EntityUrl.photos, this.getAlbumId(), EntityUrl.albums);
    },

    async editAlbum(album: IAlbum): Promise<void> {
      const editedAlbum: IAlbum = await this.entityService.showModal<IAlbum>({
        title: 'MODAL.EDIT_ALBUM',
        approveButtonCaption: 'BUTTONS.EDIT',
        declineButtonCaption: 'BUTTONS.CANCEL',
        album: album,
        entityType: EntityModalType.album
      });

      if (editedAlbum) {
        this.album = editedAlbum;
      }
    },

    async addPhoto() {
      const newPhoto: IPhoto = await this.entityService.showModal<IPhoto>({
        title: 'MODAL.ADD_PHOTO',
        approveButtonCaption: 'BUTTONS.CREATE',
        declineButtonCaption: 'BUTTONS.CANCEL',
        photo: {} as IPhoto,
        entityType: EntityModalType.photo
      });

      if (newPhoto) {
        this.photos.push(newPhoto)
      }
    },

    async deletePhoto(photoId: number): Promise<void> {
      const answer = await this.messageService.showModal({
        title: 'MODAL.DELETE_PHOTO',
        approveButtonCaption: 'BUTTONS.REMOVE',
        declineButtonCaption: 'BUTTONS.CANCEL',
        modalType: MessageModalType.confirm
      })

      if (answer) {
        this.store.isLoading = true;
        const answer = await this.apiService.deleteItem(photoId, EntityUrl.photos);

        if (answer.ok) {
          this.photos = this.photos.filter(e => e.id !== photoId);
          this.snackbar.show('MESSAGES.PHOTO_DELETED', SnackbarType.success);
        }
        this.store.isLoading = false;
      }
    },

    async getData(): Promise<void> {
      this.store.isLoading = true;
      Promise
        .all([this.getPhotos(), this.getAlbum(), this.getUser()])
        .then(values => {
          this.photos = values[0];
          this.album = values[1];
          this.user = values[2];

          this.crumb.setCrumbs(this.crumbsList);
        })
        .finally(() => {
          this.store.isLoading = false;
        })
    }
  },
  mounted() {
    this.getData();
  },
})
</script>

<style lang="scss" scoped>
.album {
  position: relative;
  width: 100%;
  padding: 2.4rem;

  &__content,
  &__photos {
    background-color: var(--color-common-bg);
    border-radius: 0.4rem;
    padding: 2.4rem;
    box-shadow: var(--shadow-block);
    margin-bottom: 2.4rem;
  }

  &__title {
    color: var(--color-common-title);
    font-size: 2.4rem;
    font-weight: var(--fw-medium);
    line-height: 2.8rem;
    margin-bottom: 1.6rem;

    &_underlined {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid var(--color-platinum);
      margin-bottom: 1.4rem;
    }
  }

  &__text, &__comment-text {
    color: var(--color-slate-gray);
    font-size: 1.4rem;
    font-weight: var(--fw-light);
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__photos-list {
    padding: 0;
  }

  &__button.mat-stroked-button.mat-primary {
    --button-height: 3.6rem;
    padding: 0 1.6rem;
  }

  &__comment {
    list-style-type: none;

    &:not(:last-child) {
      padding-bottom: 1.2rem;
      border-bottom: 1px solid var(--color-platinum);
      margin-bottom: 1.4rem;
    }
  }

  &__comment-title {
    color: var(--color-common-title);
    font-size: 1.6rem;
    font-weight: var(--fw-medium);
    line-height: 1.8rem;
  }

  &__comment-email {
    color: var(--color-slate-gray);
    font-size: 1.2rem;
    font-weight: var(--fw-regular);
  }
}
</style>
