<template>
  <div class="items">
    <div v-if="mode === ModeType.edit" class="items__actions">
      <v-btn @click="createAlbum" class="items__button" color="primary">
        <v-icon icon="mdi-plus" />
        {{ $t('BUTTONS.ADD_ALBUM') }}
      </v-btn>
    </div>

    <CustomTable
        @removeItem="deleteAlbum($event)"
        :table-headers="tableHeaders"
        :items="albums"
        :url="url"
        :tableType="DataType.album"
        :mode="mode"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import {useMainStore} from "@/stores/store";
import {useSnackbarStore} from "@/stores/snackbar-store";
import {useCrumbsStore} from "@/stores/crumbs-store";
import type {IUser} from "@/models/interfaces/user.interface";
import {apiService} from "@/services/api/api-service";
import {DataType} from "@/models/enums/data-types.enum";
import {useMessageDialogStore} from "@/stores/message-dialog";
import CustomTable from "@/components/custom-table.vue";
import {EntityUrl} from "@/models/enums/api.enum";
import type { IAlbum } from "@/models/interfaces/album.interface";
import type {ICrumb} from "@/models/interfaces/crumb.interface";
import {MessageModalType} from "@/models/enums/message-modal-type.enum";
import {SnackbarType} from "@/models/enums/snackbar-type.enum";
import {EntityModalType} from "@/models/enums/entity-modal-types.enum";
import {useEntityDialogStore} from "@/stores/entity-dialog";
import modeMixin from "@/mixins/mode.mixin";
import {ModeType} from "@/models/enums/mode-type.enum";
import {apiUserService} from "@/services/api/api-user-service";

export default defineComponent({
  components: {
    CustomTable
  },
  mixins: [modeMixin],
  props: {},
  data() {
    return {
      store: useMainStore(),
      snackbar: useSnackbarStore(),
      crumb: useCrumbsStore(),
      user: useMainStore().user as IUser,
      url: 'albums/',
      albums: [] as IAlbum[],
      tableHeaders: [ 'TABLE_HEADERS.ID', 'TABLE_HEADERS.ALBUM_TITLE', '' ],
      apiService,
      apiUserService,
      DataType,
      ModeType,
      messageService: useMessageDialogStore(),
      entityService: useEntityDialogStore(),
    }
  },
  computed: {
    crumbsList(): ICrumb[] {
      let crumbs: ICrumb[] = [...this.getBaseCrumbsList];

      crumbs.push({
        title: 'BREAD_CRUMBS.ALBUMS',
        disabled: true,
        to: ''
      });

      return crumbs;
    }
  },
  methods: {
    async getAlbums(): Promise<void> {
      this.store.isLoading = true;
      this.albums = await this.apiService.getItems(EntityUrl.albums, this.userId, EntityUrl.users);
      if (this.fullBreadCrumbs) {
        this.user = await this.apiUserService.getUser(this.userId);
      }
      this.crumb.setCrumbs(this.crumbsList);
      this.store.isLoading = false;
    },

    async createAlbum() {
      const newAlbum: IAlbum = await this.entityService.showModal<IAlbum>({
        title: 'MODAL.CREATE_ALBUM',
        approveButtonCaption: 'BUTTONS.CREATE',
        declineButtonCaption: 'BUTTONS.CANCEL',
        album: {} as IAlbum,
        entityType: EntityModalType.album
      });

      if (newAlbum) {
        this.albums.push(newAlbum)
      }
    },

    async deleteAlbum(albumId: number): Promise<void> {
      const answer = await this.messageService.showModal({
        title: 'MODAL.DELETE_ALBUM',
        approveButtonCaption: 'BUTTONS.REMOVE',
        declineButtonCaption: 'BUTTONS.CANCEL',
        modalType: MessageModalType.confirm
      })

      if (answer) {
        this.store.isLoading = true;
        const answer = await this.apiService.deleteItem(albumId, EntityUrl.albums);

        if (answer.ok) {
          this.albums = this.albums.filter(e => e.id !== albumId);
          this.snackbar.show('MESSAGES.ALBUM_DELETED', SnackbarType.success);
        }
        this.store.isLoading = false;
      }
    }
  },
  mounted() {
    this.getAlbums();
  }
})
</script>
