<template>
  <div class="auth__wrapper">
    <div class="auth">
      <div class="auth__column auth__column_form">
        <div class="auth__lang-panel">
          <LangSwitcher />
        </div>
        <h1 class="auth__title">{{ $t('HEADERS.SIGN_IN') }}</h1>
        <p class="auth__subtitle">{{ $t('HEADERS.SIGN_IN_TO_PLATFORM') }}</p>

        <div v-if="wrongMail" class="auth__message">
          {{ $t('HEADERS.USER_NOT_EXIST') }}
        </div>

        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
        >
          <div class="auth__row">
            <v-text-field
              v-model="email"
              variant="outlined"
              :rules="emailRules"
              :label="$t('FIELDS.ENTER_EMAIL')"
            />
          </div>

          <div class="auth__row">
            <v-checkbox
              v-model="agreed"
              :rules="agreedRules"
              :label="$t('FIELDS.AGREE_TO_SIGN')"
              color="indigo-darken-3"
              required
            ></v-checkbox>
          </div>

          <v-btn
            @click.prevent="validate"
            type="submit"
            color="primary"
            class="shadow full-width auth__button"
          >
            {{ $t('BUTTONS.SIGN_IN') }}
          </v-btn>
        </v-form>
      </div>

      <div class="auth__column auth__column_img" :style="{ backgroundImage: 'url(' + bgUrl + ')' }">
        <div class="auth__mail-list">
          <v-btn
              v-for="email in emailList"
              @click="selectEmail(email)"
              class="auth__email-button"
          >{{ email }}</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Role } from "@/models/enums/roles.enum";
import type { IUser } from "@/models/interfaces/user.interface";
import { defineComponent } from "vue";
import { useMainStore } from '@/stores/store';
import LangSwitcher from '@/components/lang-switcher.vue'

export default defineComponent({
  components: {
    LangSwitcher
  },
  data() {
    return {
      store: useMainStore(),
      bgUrl: 'https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80',
      emailList: [] as string[],
      emailAdmin: 'admin@email.com',
      wrongMail: false,
      users: [] as IUser[],
      valid: false,

      // checkbox
      agreed: false,
      agreedRules: [
        (v: string): string | boolean => !!v || 'You must agree to continue!'
      ],
      // input
      email: '',
      emailRules: [
        (v: string): string | boolean => !!v || 'E-mail is required',
        (v: string): string | boolean => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
    }
  },
  mounted() {
    this.getEmails();
  },
  methods: {
    async getEmails(): Promise<void> {
        this.users = await this.store.getUsers();
        this.emailList = this.users.map((e: IUser): string => e.email);
        this.emailList.unshift(this.emailAdmin);
    },
    selectEmail(email: string): void {
      this.email = email;
    },
    async validate () {
      const { valid } = await (this.$refs.form as HTMLFormElement).validate()
      if (valid) {
        // check email
        const selectedUser = this.users.find(e => e.email === this.email);
        const isAdmin = this.email === this.emailAdmin;
        if (!selectedUser && !isAdmin) {
          this.email = '';
          this.wrongMail = true;
          return;
        }

        if (selectedUser) {
          this.store.setUser(selectedUser);
          this.store.setRole(Role.user);
        }

        if (isAdmin) {
          this.store.setRole(Role.admin);
        }

        this.$emit('login');
      }
    },
  },
})
</script>

<style lang="scss" scoped>
.auth__wrapper {
  background-color: var(--color-common-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.auth {
  display: flex;
  width: 96rem;
  height: 48rem;
  margin: 0 auto;

  background-color: var(--color-bg-theme);
  box-shadow: var(--shadow-block);
  border-radius: 0.4rem;
  overflow: hidden;

  &__column {
    flex: 0 0 50%;

    &_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 6.4rem;
    }

    &_img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow-y: auto;
    }
  }

  &__lang-panel {
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    margin-bottom: 0.4rem;
    color: var(--color-common-title);
    font-size: 2.4rem;
    font-weight: var(--fw-medium);
  }

  &__subtitle {
    margin-bottom: 4rem;
    color: var(--color-quick-silver);
    font-size: 1.4rem;
    font-weight: var(--fw-regular);
  }

  &__mail-list {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__email-button {
    background-color: var(--color-white-semi-transparent);
    font-size: 1.2rem;
    --button-height: 3rem;
    margin: 0.4rem 0;

    &:first-child {
      background-color: var(--color-carmine-pink-semi-transparent);
      color: var(--color-white);
    }
  }

  &__message {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.8rem;

    border: 1px solid var(--color-carmine-pink);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    color: var(--color-carmine-pink);
  }
}

</style>
