<template>
  <div class="items">
    <div class="items__actions items__actions_left-pos">
      <v-btn @click="getBack()" class="items__button" color="primary">
        <v-icon icon="mdi-arrow-left"/>
        {{ $t('BUTTONS.BACK') }}
      </v-btn>
    </div>

    <h2 class="not-found__title">404</h2>
    <p class="not-found__subtitle">{{ $t('HEADERS.PAGE_NOT_FOUND') }}</p>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  methods: {
    getBack(): void {
      this.$router.go(-1);
    }
  }
})
</script>

<style lang="scss" scoped>
.not-found {
  &__title {
    color: var(--color-common-title);
    font-size: 2.4rem;
    font-weight: var(--fw-medium);
    line-height: 2.8rem;
    text-align: center;
  }

  &__subtitle {
    color: var(--color-common-text);
    font-size: 1.6rem;
    font-weight: var(--fw-light);
    margin-bottom: 1.2rem;
    text-align: center;
  }
}
</style>