<template>
  <div class="post">
    <div class="items__actions items__actions_left-pos">
      <v-btn @click="getBack()" class="items__button" color="primary">
        <v-icon icon="mdi-arrow-left"/>
        {{ $t('BUTTONS.BACK') }}
      </v-btn>
    </div>

    <div class="post__content">
      <h2 class="post__title">({{ post?.id }}) {{ post?.title }}</h2>
      <p class="post__text">{{ post?.body }}</p>
      <div v-if="mode === ModeType.edit" class="actions">
        <v-btn
            @click="editPost(post)"
            class="post__button"
            variant="outlined"
            color="primary"
        >{{ $t('BUTTONS.EDIT_POST') }}
        </v-btn>
      </div>
    </div>

    <div class="post__comments">
      <h2 class="post__title post__title_underlined">{{ $t('HEADERS.COMMENTS') }}</h2>
      <ul v-if="comments.length" class="post__comments-list">
        <li v-for="comment of comments" class="post__comment">
          <h3 class="post__comment-title">
            <span>({{ comment.id }}) {{ comment.name }}</span>
            <v-btn
                v-if="mode === ModeType.edit"
                color="error"
                size="x-small"
                variant="text"
                icon
                @click="deleteComment(comment.id)"
            >
              <i class="material-icons">delete_forever</i>
            </v-btn>
          </h3>
          <p class="post__comment-text">{{ comment.body }}</p>
          <footer class="post__comment-email">{{ comment.email }}</footer>
        </li>
      </ul>

      <p v-else>{{ $t('HEADERS.NO_COMMENTS') }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import type {IPost} from "@/models/interfaces/post.interface";
import type {IComment} from "@/models/interfaces/comment.interface";
import {defineComponent} from "vue";
import {useMainStore} from "@/stores/store";
import {ModeType} from "@/models/enums/mode-type.enum";
import {MessageModalType} from "@/models/enums/message-modal-type.enum";
import {SnackbarType} from "@/models/enums/snackbar-type.enum";
import {apiService} from '@/services/api/api-service';
import {apiUserService} from '@/services/api/api-user-service';
import {useSnackbarStore} from "@/stores/snackbar-store";
import {EntityUrl} from "@/models/enums/api.enum";
import {EntityModalType} from "@/models/enums/entity-modal-types.enum";
import {useCrumbsStore} from "@/stores/crumbs-store";
import type {ICrumb} from "@/models/interfaces/crumb.interface";
import modeMixin from "@/mixins/mode.mixin";
import {useEntityDialogStore} from "@/stores/entity-dialog";
import {useMessageDialogStore} from "@/stores/message-dialog";

export default defineComponent({
  mixins: [modeMixin],
  props: {},
  data() {
    return {
      store: useMainStore(),
      snackbar: useSnackbarStore(),
      crumb: useCrumbsStore(),
      entityService: useEntityDialogStore(),
      messageService: useMessageDialogStore(),
      postId: this.getIdPost() as number,
      post: null as IPost | null,
      comments: [] as IComment[],
      ModeType,
      apiService,
      apiUserService,
      showDialog: false
    }
  },
  computed: {
    crumbsList(): ICrumb[] {
      return [...this.getBaseCrumbsList,
        {
          title: 'BREAD_CRUMBS.POSTS',
          disabled: false,
          to: './../posts'
        },
        {
          title: this.post?.title || '',
          disabled: true,
          notTranslate: true,
          to: ''
        }
      ];
    }
  },
  methods: {
    async deleteComment(commentId: number) {
      const answer = await this.messageService.showModal({
        title: 'MODAL.DELETE_COMMENT',
        approveButtonCaption: 'BUTTONS.DELETE',
        declineButtonCaption: 'BUTTONS.CANCEL',
        modalType: MessageModalType.confirm
      })

      if (answer) {
        this.store.isLoading = true;
        const answer = await this.apiService.deleteItem(commentId, EntityUrl.posts);

        if (answer.ok) {
          this.comments = this.comments.filter(e => e.id !== commentId);
          this.snackbar.show('MESSAGES.COMMENT_DELETED', SnackbarType.success);
        }
        this.store.isLoading = false;
      }
    },

    async getComments(): Promise<void> {
      if (this.postId) {
        this.store.isLoading = true;
        this.comments = await this.apiService.getItems(EntityUrl.comments, this.postId, EntityUrl.post);
        this.store.isLoading = false;

      } else {
        this.comments = [];
      }
    },

    getIdPost(): number {
      return +this.$route.params.id;
    },

    async getPost(): Promise<void> {
      this.store.isLoading = true;
      this.post = await this.apiService.getItem(this.postId, EntityUrl.posts);
      if (this.post?.userId) {
        this.user = await this.apiUserService.getUser(this.post.userId);
      }
      this.crumb.setCrumbs(this.crumbsList);
      this.store.isLoading = false;
    },

    async editPost(post: IPost): Promise<void> {
      const editedPost: IPost = await this.entityService.showModal<IPost>({
        title: 'MODAL.EDIT_POST',
        approveButtonCaption: 'BUTTONS.EDIT',
        declineButtonCaption: 'BUTTONS.CANCEL',
        post,
        entityType: EntityModalType.post
      });

      if (editedPost) {
        this.post = editedPost;
      }
    },

    getBack(): void {
      this.$router.go(-1);
    },
  },
  mounted() {
    this.getIdPost();
    this.getPost();
    this.getComments();
  },
})
</script>

<style lang="scss" scoped>
.post {
  position: relative;
  width: 100%;
  padding: 2.4rem;

  &__content,
  &__comments {
    background-color: var(--color-common-bg);
    border-radius: 0.4rem;
    padding: 2.4rem;
    box-shadow: var(--shadow-block);
    margin-bottom: 2.4rem;
  }

  &__title {
    color: var(--color-common-title);
    font-size: 2.4rem;
    font-weight: var(--fw-medium);
    line-height: 2.8rem;

    &_underlined {
      padding-bottom: 1.2rem;
      border-bottom: 1px solid var(--color-platinum);
      margin-bottom: 1.4rem;
    }
  }

  &__text, &__comment-text {
    color: var(--color-common-text);
    font-size: 1.4rem;
    font-weight: var(--fw-light);
    margin-bottom: 1.2rem;
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__comments-list {
    padding: 0;
  }

  &__comment {
    list-style-type: none;

    &:not(:last-child) {
      padding-bottom: 1.2rem;
      border-bottom: 1px solid var(--color-platinum);
      margin-bottom: 1.4rem;
    }
  }

  &__comment-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-common-title);
    font-size: 1.6rem;
    font-weight: var(--fw-medium);
    line-height: 1.8rem;
    margin-bottom: 1.6rem;

    .mat-button-base.mat-icon-button {
      --button-height: 3.2rem;
      --button-width: 3.2rem;
    }
  }

  &__comment-email {
    color: var(--color-slate-gray);
    font-size: 1.2rem;
    font-weight: var(--fw-regular);
  }
}
</style>
