<template>
  <div class="items">

    <div v-if="mode === modeType.edit"  class="items__actions">
      <v-btn @click="createPost()" class="items__button" color="primary">
        <v-icon icon="mdi-plus" />
        {{ $t('BUTTONS.ADD_POST') }}
      </v-btn>
    </div>

    <CustomTable
      :table-headers="tableHeaders"
      :items="posts"
      :url="url"
      @removeItem="deletePost($event)"
      :tableType="DataType.post"
      :mode="mode"
    />
  </div>
</template>

<script lang="ts">
import type {IPost} from "@/models/interfaces/post.interface";
import type {IUser} from "@/models/interfaces/user.interface";
import {defineComponent} from "vue";
import {useMainStore} from '@/stores/store';
import {useSnackbarStore} from '@/stores/snackbar-store';
import CustomTable from "@/components/custom-table.vue";
import {EntityModalType} from "@/models/enums/entity-modal-types.enum";
import {apiService} from '@/services/api/api-service';
import {apiUserService} from '@/services/api/api-user-service';
import {SnackbarType} from "@/models/enums/snackbar-type.enum";
import {MessageModalType} from "@/models/enums/message-modal-type.enum";
import {EntityUrl} from "@/models/enums/api.enum";
import type {ICrumb} from "@/models/interfaces/crumb.interface";
import {useCrumbsStore} from "@/stores/crumbs-store";
import {DataType} from "@/models/enums/data-types.enum"
import modeMixin from "@/mixins/mode.mixin";
import { ModeType as modeType } from "@/models/enums/mode-type.enum";
import {useEntityDialogStore} from "@/stores/entity-dialog";
import {useMessageDialogStore} from "@/stores/message-dialog";

export default defineComponent({
  components: {
    CustomTable
  },
  mixins: [modeMixin],
  data() {
    return {
      store: useMainStore(),
      snackbar: useSnackbarStore(),
      crumb: useCrumbsStore(),
      entityService: useEntityDialogStore(),
      messageService: useMessageDialogStore(),
      user: useMainStore().user as IUser,
      url: 'posts/',
      posts: [] as IPost[],
      tableHeaders: ['TABLE_HEADERS.ID', 'TABLE_HEADERS.TITLE', 'TABLE_HEADERS.TEXT', '' ],
      showDialog: false,
      showMessageDialog: true,
      apiService,
      apiUserService,
      DataType,
      modeType,
    }
  },
  computed: {
    crumbsList(): ICrumb[] {
      return [...this.getBaseCrumbsList,
        {
          title: 'BREAD_CRUMBS.POSTS',
          disabled: true,
          to: ''
        }
      ]
    }
  },
  methods: {
    async getPosts(): Promise<void> {
      this.store.isLoading = true;
      this.posts = await this.apiService.getItems(EntityUrl.posts, this.userId, EntityUrl.users);
      if (this.fullBreadCrumbs) {
        this.user = await this.apiUserService.getUser(this.userId);
      }
      this.crumb.setCrumbs(this.crumbsList);
      this.store.isLoading = false;
    },

    async deletePost(postId: number): Promise<void> {
      const answer = await this.messageService.showModal({
        title: 'MODAL.DELETE_POST',
        approveButtonCaption: 'BUTTONS.DELETE',
        declineButtonCaption: 'BUTTONS.CANCEL',
        modalType: MessageModalType.confirm
      })

      if (answer) {
        this.store.isLoading = true;
        const answer = await this.apiService.deleteItem(postId, EntityUrl.posts);

        if (answer.ok) {
          this.posts = this.posts.filter(e => e.id !== postId);
          this.snackbar.show('MESSAGES.POST_DELETED', SnackbarType.success);
        }
        this.store.isLoading = false;
      }
    },

    async createPost() {
      const newPost: IPost = await this.entityService.showModal<IPost>({
        title: 'MODAL.CREATE_POST',
        approveButtonCaption: 'BUTTONS.CREATE',
        declineButtonCaption: 'BUTTONS.CANCEL',
        post: {} as IPost,
        entityType: EntityModalType.post
      });

      if (newPost) {
        this.posts.push(newPost)
      }
    },
  },
  mounted() {
    this.getPosts();
  }
})
</script>

<style lang="scss" scoped></style>
