<template>
  <div class="items">
    <Chart :items="posts"/>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import Chart from "@/components/chart.vue"
import {useCrumbsStore} from "@/stores/crumbs-store";
import {useMainStore} from "@/stores/store";
import {apiService} from "@/services/api/api-service";
import {EntityUrl} from "@/models/enums/api.enum";
import type {IPost} from "@/models/interfaces/post.interface";
import type {ICrumb} from "@/models/interfaces/crumb.interface";
import type {IUser} from "@/models/interfaces/user.interface";
import modeMixin from "@/mixins/mode.mixin";

export default defineComponent({
  components: {
    Chart
  },
  mixins: [modeMixin],
  data() {
    return {
      crumb: useCrumbsStore(),
      store: useMainStore(),
      apiService,
      user: useMainStore().user as IUser,
      posts: [] as IPost[],
    }
  },
  computed: {
    crumbsList(): ICrumb[] {
      let crumbs: ICrumb[] = [...this.getBaseCrumbsList];

      crumbs.push({
        title: 'BREAD_CRUMBS.STATISTICS',
        disabled: true,
        to: ''
      });

      return crumbs;
    }
  },
  methods: {
    async getPosts(): Promise<void> {
      this.store.isLoading = true;
      this.posts = await this.apiService.getItems(EntityUrl.posts, this.user.id, EntityUrl.users);
      this.crumb.setCrumbs(this.crumbsList);
      this.store.isLoading = false;
    },
  },
  created() {
    this.getPosts();
  }
})
</script>

<style lang="scss" scoped></style>
