<template>
  <div class="items">
    <div class="items__actions">
      <v-btn v-if="mode === modeType.edit" @click="createTodo" class="items__button" color="primary">
        <v-icon icon="mdi-plus" />
        {{ $t('BUTTONS.ADD_TODO') }}
      </v-btn>
    </div>

    <CustomTable
        :table-headers="tableHeaders"
        :items="todos"
        :url="url"
        :maxNumItemsOnPage="10"
        @changeItem="toggleState"
        :tableType="DataType.todo"
        @deleteItem="removeTodo"
        @editItem="editTodo"
        :mode="mode"
    />
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {useMainStore} from "@/stores/store";
import {useCrumbsStore} from "@/stores/crumbs-store";
import type {IUser} from "@/models/interfaces/user.interface";
import {apiService} from "@/services/api/api-service";
import type {ITodo} from "@/models/interfaces/todo.interface";
import {EntityUrl} from "@/models/enums/api.enum";
import type {ICrumb} from "@/models/interfaces/crumb.interface";
import CustomTable from "@/components/custom-table.vue";
import {DataType} from "@/models/enums/data-types.enum"
import {useMessageDialogStore} from "@/stores/message-dialog";
import {MessageModalType} from "@/models/enums/message-modal-type.enum";
import {SnackbarType} from "@/models/enums/snackbar-type.enum";
import {useSnackbarStore} from "@/stores/snackbar-store";
import {useEntityDialogStore} from "@/stores/entity-dialog";
import {EntityModalType} from "@/models/enums/entity-modal-types.enum";
import modeMixin from "@/mixins/mode.mixin";
import {ModeType as modeType} from "@/models/enums/mode-type.enum";
import {apiUserService} from "@/services/api/api-user-service";

export default defineComponent({
  components: {
    CustomTable
  },
  mixins: [modeMixin],
  data() {
    return {
      store: useMainStore(),
      snackbar: useSnackbarStore(),
      crumb: useCrumbsStore(),
      user: useMainStore().user as IUser,
      url: '/todos/',
      todos: [] as ITodo[],
      tableHeaders: ['TABLE_HEADERS.ID', 'TABLE_HEADERS.STATE', 'TABLE_HEADERS.TITLE', ''],

      apiService,
      apiUserService,
      DataType,
      modeType,
      messageService: useMessageDialogStore(),
      entityService: useEntityDialogStore(),
    }
  },
  computed: {
    crumbsList(): ICrumb[] {
      return [...this.getBaseCrumbsList,
        {
          title: 'BREAD_CRUMBS.TODOS',
          disabled: true,
          to: ''
        }
      ];
    }
  },
  methods: {
    async getTodos(): Promise<void> {
      this.store.isLoading = true;
      this.todos = await this.apiService.getItems(EntityUrl.todos, this.userId, EntityUrl.users);
      if (this.fullBreadCrumbs) {
        this.user = await this.apiUserService.getUser(this.userId);
      }
      this.crumb.setCrumbs(this.crumbsList);
      this.store.isLoading = false;
    },

    async toggleState(id: number, oldValue: boolean): Promise<void> {
      this.store.isLoading = true;
      try {
        const answer: ITodo = await this.apiService.patchItem(id, {'completed': !oldValue}, EntityUrl.todos)
        this.todos.find(e => e.id === id)!.completed = answer.completed;
      } catch(e) {
        console.log(e)
      } finally {
        this.store.isLoading = false;
      }
    },

    async createTodo() {
      const newTodo: ITodo = await this.entityService.showModal<ITodo>({
        title: 'MODAL.CREATE_TODO',
        approveButtonCaption: 'BUTTONS.CREATE',
        declineButtonCaption: 'BUTTONS.CANCEL',
        todo: {} as ITodo,
        entityType: EntityModalType.todo
      });

      if (newTodo) {
        this.todos.push(newTodo)
      }
    },

    async editTodo(todo: ITodo): Promise<void> {
      const editedTodo: ITodo = await this.entityService.showModal<ITodo>({
        title: 'MODAL.EDIT_TODO',
        approveButtonCaption: 'BUTTONS.EDIT',
        declineButtonCaption: 'BUTTONS.CANCEL',
        todo: todo,
        entityType: EntityModalType.todo
      });

      if (editedTodo) {
        const index = this.todos.findIndex(e => e.id === editedTodo.id);
        this.todos.splice(index, 1, editedTodo)
      }
    },

    async removeTodo(todoId: number): Promise<void> {
      const answer = await this.messageService.showModal({
        title: 'MODAL.DELETE_TODO',
        approveButtonCaption: 'BUTTONS.REMOVE',
        declineButtonCaption: 'BUTTONS.CANCEL',
        modalType: MessageModalType.confirm
      })

      if (answer) {
        this.store.isLoading = true;
        const answer = await this.apiService.deleteItem(todoId, EntityUrl.todos);

        if (answer.ok) {
          this.todos = this.todos.filter(e => e.id !== todoId);
          this.snackbar.show('MESSAGES.TODO_DELETED', SnackbarType.success);
        }
        this.store.isLoading = false;
      }
    }
  },
  mounted() {
    this.getTodos();
  }
})
</script>

<style lang="scss" scoped>

</style>
