<template>
  <div class="items">
    <div v-if="user?.id" class="items__content">
      <v-form ref="form" @submit.prevent="submit()">
        <div class="items__block">
          <h3 class="items__title">{{ $t('USER.' + fields[0].groupName) }}</h3>

          <v-text-field
              v-for="field of fields[0].values"
              v-model="user[field.id]"
              variant="outlined"
              :rules="fieldRules"
              :label="$t('USER.' + field.name)"
              class="items__field"
              :readonly="mode === modeType.view"
          />
        </div>

        <div class="items__block">
          <h3 class="items__title">{{ $t('USER.' + fields[1].groupName) }}</h3>

          <v-text-field
              v-for="field of fields[1].values"
              v-model="user.address[field.id]"
              variant="outlined"
              :rules="fieldRules"
              :label="$t('USER.' + field.name)"
              class="items__field"
              :readonly="mode === modeType.view"
          />
        </div>

        <div class="items__block">
          <h3 class="items__title">{{ $t('USER.' + fields[2].groupName) }}</h3>

          <v-text-field
              v-for="field of fields[2].values"
              v-model="user.company[field.id]"
              variant="outlined"
              :rules="fieldRules"
              :label="$t('USER.' + field.name)"
              class="items__field"
              :readonly="mode === modeType.view"
          />
        </div>

        <div v-if="mode === modeType.edit" class="items__actions items__actions_left-pos">
          <v-btn type="submit" class="items__button" color="primary">
            {{ $t('BUTTONS.SAVE_SETTINGS') }}
          </v-btn>
        </div>
      </v-form>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import type {IUser} from "@/models/interfaces/user.interface";
import type {ICrumb} from "@/models/interfaces/crumb.interface";
import {apiUserService} from '@/services/api/api-user-service';
import {useMainStore} from "@/stores/store";
import {useSnackbarStore} from "@/stores/snackbar-store";
import {useCrumbsStore} from "@/stores/crumbs-store";
import {SnackbarType} from "@/models/enums/snackbar-type.enum";
import modeMixin from "@/mixins/mode.mixin";
import {ModeType as modeType} from "@/models/enums/mode-type.enum";

export default defineComponent({
  components: {},
  mixins: [modeMixin],
  props: {},
  data() {
    return {
      apiUserService,
      store: useMainStore(),
      snackbar: useSnackbarStore(),
      crumb: useCrumbsStore(),
      user: useMainStore().user as IUser,
      modeType,
      fields: [
        {
          groupName: 'PERSONAL_INFO',
          id: 'personal',
          values: [
            { id: 'name', name: 'NAME' },
            { id: 'username', name: 'USERNAME' },
            { id: 'phone', name: 'PHONE' },
            { id: 'email', name: 'EMAIL' },
            { id: 'website', name: 'WEB_SITE' }
          ]
        },
        {
          groupName: 'ADDRESS_INFO',
          id: 'address',
          values: [
            { id: 'street', name: 'STREET' },
            { id: 'suite', name: 'SUITE' },
            { id: 'city', name: 'CITY' },
            { id: 'zipcode', name: 'ZIP_CODE' }
          ]
        },
        {
          groupName: 'COMPANY',
          id: 'company',
          values: [
            { id: 'name', name: 'COMPANY_NAME' },
            { id: 'catchPhrase', name: 'CATCH_PHRASE' },
            { id: 'bs', name: 'BS' }
          ]
        }
      ],

      // field
      fieldRules: [
        (v: string): boolean | string => !!v || 'Value is required',
      ],
      // input
      emailRules: [
        (v: string): boolean | string => !!v || 'E-mail is required',
        (v: string): boolean | string => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
    }
  },
  computed: {
    crumbsList(): ICrumb[] {
      return [...this.getBaseCrumbsList,
        {
          title: 'BREAD_CRUMBS.USERS_DATA',
          disabled: true,
          to: ''
        }
      ];
    }
  },
  methods: {
    async getUser() {
      if (this.fullBreadCrumbs) {
        this.user = await this.apiUserService.getUser(this.userId);
      }
      this.crumb.setCrumbs(this.crumbsList);
    },

    async submit() {
      const { valid } = await (this.$refs.form as HTMLFormElement).validate()

      if (!valid) return;

      await this.apiUserService
          .updateUser(this.user)
          .then(updatedUser => this.user = updatedUser)
          .catch(() => this.snackbar.show('MESSAGES.COMMON_ERROR', SnackbarType.error))
    },
  },
  mounted() {
    this.getUser()
  }
})
</script>

<style lang="scss" scoped>
.items {
  &__title {
    font-size: 1.6rem;
    font-weight: var(--fw-medium);
    line-height: 2rem;
    letter-spacing: -0.05px;
    color: var(--color-common-title);
    margin-bottom: 1.6rem;
  }

  &__content {
    background-color: var(--color-bg-theme);
    box-shadow: var(--shadow-block);
    border-radius: 0.4rem;
    padding: 2.4rem;
    color: var(--color-onyx);
  }

  &__block:not(:last-child)::after {
    display: block;
    content: "";
    margin: 1rem -2.4rem 2.4rem;
    border-bottom: 1px solid var(--nav-subtitle-text);
  }

  &__field {
    max-width: 45%;
    width: 25rem;
    display: inline-block;
    margin: 0 2rem 0 0;
  }

  &__actions {
    margin-bottom: 0;
  }

  &__button {
    --button-height: 4rem;
  }
}
</style>
