<template>
  <div class="nav">
    <ul class="nav__list">
      <li v-for="item of navItems" class="nav__item">
        <v-btn
            :to="'/users/' + userId + '/' + item.link"
            variant="text"
            class="nav__link"
            :class="{'active': subIsActive(item.link)}"
        >
          <v-icon :icon="item.icon" class="nav__icon" />
          <span class="nav__title">{{ $t('NAV.' + item.title) }}</span>
        </v-btn>
      </li>
    </ul>

    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import type {IUser} from "@/models/interfaces/user.interface";
import type {INavItem} from "@/models/interfaces/nav-item.interface";

export default defineComponent({
  data() {
    return {
      user: null as null | IUser,
      userId: null as null | number,

      navItems: [
        {
          icon: 'mdi-account-multiple-outline',
          title: 'USER_DATA',
          link: 'user-data'
        },
        {
          icon: 'mdi-note-multiple-outline',
          title: 'POSTS',
          link: 'posts'
        },
        {
          icon: 'mdi-image-multiple',
          title: 'ALBUMS',
          link: 'albums'
        },
        {
          icon: 'mdi-format-list-checks',
          title: 'TODOS',
          link: 'todos'
        }
      ] as INavItem[]
    }
  },
  methods: {
    subIsActive(link: string): boolean {
      return this.$route.path.indexOf(link) > 0;
    }
  },
  mounted() {
    this.userId = +this.$route.params.userId
  }
})
</script>

<style lang="scss" scoped>
.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.4rem;
    gap: 1rem;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    color: var(--color-slate-gray);
    font-size: 1.4rem;
    letter-spacing: normal;
    text-transform: capitalize;
    padding: 0 2rem;
    line-height: 3.8rem;
    border: 1px solid var(--color-slate-gray);
    display: inline-block;
    border-radius: 1.9rem;
    text-decoration: none;

    &.v-btn--active,
    &.active {
      background-color: var(--color-denim);
      border-color: var(--color-denim);
      color: var(--color-white);
    }

    &::v-deep.v-btn--active > .v-btn__overlay {
      opacity: 0;
    }

    ::v-deep .v-btn__content {
      gap: 1rem
    }
  }

  &__icon ::v-deep svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>