<template>
  <v-breadcrumbs :items="breadCrumbs">
    <template v-slot:title="{ item }">
      {{ item.notTranslate ? item.title : $t(item.title) }}
    </template>
    <template v-slot:divider>
      <v-icon icon="mdi-chevron-right"></v-icon>
    </template>
  </v-breadcrumbs>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import type {ICrumb} from "@/models/interfaces/crumb.interface";
import {useCrumbsStore} from "@/stores/crumbs-store";

export default defineComponent({
  data() {
    return {
      crumb: useCrumbsStore()
    }
  },
  computed: {
    breadCrumbs(): ICrumb[] {
      return this.crumb.getCrumbs;
    }
  }
})
</script>

<style lang="scss" scoped>
  .v-breadcrumbs {
    height: 40px;
    padding-left: 2.4rem;
    margin: 2.4rem 0 0;
    font-weight: var(--fw-medium);
  }

  ::v-deep {
    .v-breadcrumbs-item,
    .v-breadcrumbs-divider {
      color: var(--color-common-text);
      font-size: 1.4rem;
      text-transform: capitalize;
    }
  }
</style>
