<template>
  <Line :data="data" :options="lineChartOptions" />
</template>

<script lang="ts">
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  PointElement,
  LineElement,
  CategoryScale,
  LinearScale,
} from 'chart.js'
import { Line } from 'vue-chartjs'
import {defineComponent} from "vue";
import type {IPost} from "@/models/interfaces/post.interface";

ChartJS.register(CategoryScale, LinearScale, PointElement, LineElement, Title, Tooltip, Legend)

export default defineComponent({
  name: 'App',
  components: {
    Line
  },
  props: {
    items: {
      type: Array as () => IPost[],
      default: [],
    }
  },
  data() {
    return {
      lineChartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        aspectRatio: 1 / 2,
        resizeDelay: 150,
        scales: {
          y: {
            grid: {
              display: false
            }
          }
        }
      }
    }
  },
  computed: {
    data() {
      return {
        labels: this.items.map(e => e.id),
        datasets: [
          {
            label: this.$t('CHART.BODY'),
            data: this.items.map(e => e.body.length),

            borderColor: '#3F51B5', // line color
            backgroundColor: '#3F51B5', // bg legend
            pointRadius: 6,
            pointBorderColor: '#3F51B5',
            pointBackgroundColor: 'white',
            pointBorderWidth: 2
          },
          {
            label: this.$t('CHART.TITLE'),
            data: this.items.map(e => e.title.length),

            borderColor: '#66788A',
            backgroundColor: '#66788A',
            pointRadius: 6,
            pointBorderColor: '#66788A',
            pointBackgroundColor: 'white',
            pointBorderWidth: 2
          }
        ]
      }
    },
  }
})
</script>
