<template>
  <v-snackbar v-model="isShow" :color="type">
    {{ $t(message) }}
    <template v-slot:actions>
      <v-btn
        icon
        color="white"
        variant="text"
        @click="snackbar.hide()"
      >
        <v-icon icon="mdi-window-close"></v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useSnackbarStore } from '@/stores/snackbar-store';

export default defineComponent({
  data() {
    return {
      snackbar: useSnackbarStore()
    }
  },
  computed: {
    isShow() {
      return this.snackbar.isShow
    },
    message() {
      return this.snackbar.message
    },
    type() {
      return this.snackbar.type
    }
  },
})
</script>

<style lang="scss" scoped></style>
