<template>
  <v-table class="table">
    <thead>
      <tr>
        <th v-for="columnHeader in tableHeaders" class="text-left table__column">{{ $t(columnHeader) }}</th>
      </tr>
    </thead>

    <tbody>
    <tr v-for="(item, index) in currentItems" :key="item.id">
      <td class="table__column table__column_id">{{ item.id }}</td>
      <td v-if="tableType === DataTypes.todo" class="table__column table__column_state">
        <v-checkbox
            @change="toggleState(item.id, item.completed)"
            :model-value="item.completed"
            color="primary"
            hide-details
            :disabled="mode === modeType.view"
        />
      </td>

      <td
          class="table__column table__column_title"
          :class="{table__column_completed: tableType === DataTypes.todo && item.completed}"
      >{{ item.title }}</td>

      <td v-if="item?.body !== undefined" class="table__column table__column_text">
        <span v-if="showMore[index] || item.body.length <= maxLengthPostBody">{{ item.body }}</span>
        <span v-else>{{ item.body?.substring(0, maxLengthPostBody) }}...</span>
        <button
            v-if="item.body.length > maxLengthPostBody"
            @click="showMoreToggle(index)"
            class="table__toggle-button"
        >
          {{ $t(showMore[index] ? 'BUTTONS.SHOW_LESS' : 'BUTTONS.SHOW_MORE') }}
        </button>
      </td>

      <td class="table__column table__column_actions">
        <div v-if="isPosts || isAlbums" class="table__button-group">

          <v-btn :to="getUrl(item.id)" variant="text" icon size="x-small" color="primary">
            <i class="material-icons">arrow_forward</i>
          </v-btn>

          <v-btn
              v-if="mode === modeType.edit"
              @click="removeItem(item.id)"
              variant="text" icon size="x-small" color="error"
          >
            <i class="material-icons">delete_forever</i>
          </v-btn>
        </div>

        <div v-if="isTodos" class="table__button-group">
          <CustomMenu
              v-if="mode === modeType.edit"
              :items="getMenuItems()"
              @selectItem="(action) => actionItem(action, item)"
          />
        </div>
      </td>
    </tr>
    </tbody>
  </v-table>

  <v-pagination v-model="currentPage" :length="totalPages"></v-pagination>
</template>

<script lang="ts">
import { defineComponent, type PropType } from "vue";
import type { IPost } from "@/models/interfaces/post.interface";
import type { IAlbum } from "@/models/interfaces/album.interface";
import type { ITodo } from "@/models/interfaces/todo.interface";
import type { DataType } from "@/models/enums/data-types.enum";
import { DataType as DataTypes } from "@/models/enums/data-types.enum";
import CustomMenu from "@/components/custom-menu.vue"
import type {IMenuItem} from "@/models/interfaces/menu-item.interface";
import type { ModeType } from "@/models/enums/mode-type.enum";
import { ModeType as modeType } from "@/models/enums/mode-type.enum";

export default defineComponent({
  emits: ['removeItem', 'changeItem', 'deleteItem', 'editItem'],
  components: {
    CustomMenu
  },
  props: {
    tableHeaders: {
      type: Array as PropType<String[]>,
      required: true
    },
    mode: {
      type: String as PropType<ModeType>,
      required: true
    },
    maxNumItemsOnPage: {
      default: 5,
      required: false,
    },
    items: {
      required: true,
      default: [],
      type:  Object as PropType<IPost[] | IAlbum[] | ITodo[]>
    },
    url: String,
    tableType: String as PropType<DataType>
  },
  data() {
    return {
      paginationPage: 1 as Number,
      currentPage: 1,
      showMore: [] as Boolean[],
      maxLengthPostBody: 50 as Number,
      modeType,
      DataTypes
    }
  },
  computed: {
    currentItems(): IPost[] | IAlbum[] | ITodo[] {
      const start: number = (this.currentPage - 1) * this.maxNumItemsOnPage;
      const end = start + this.maxNumItemsOnPage;
      return this.items.slice(start, end);
    },
    totalPages(): number {
      const pageNumber = Math.ceil(this.items.length / this.maxNumItemsOnPage);
      if (this.currentPage > pageNumber && pageNumber > 1) {
        this.currentPage = pageNumber;
      }
      return pageNumber;
    },
    isPosts(): boolean {
      return this.tableType === DataTypes.post;
    },
    isAlbums(): boolean {
      return this.tableType === DataTypes.album;
    },
    isTodos(): boolean {
      return this.tableType === DataTypes.todo;
    }
  },
  watch: {
    currentPage() {
      this.closeAllTextBody();
    }
  },
  methods: {
    showMoreToggle(num: number): void {
      this.showMore[num] = !this.showMore[num];
    },
    getUrl(id: number): string {
      return `${this.url}${id}`;
    },
    closeAllTextBody(): void {
      this.showMore = new Array(this.maxNumItemsOnPage).fill(false);
    },
    removeItem(itemId: Number): void {
      this.$emit( 'removeItem', itemId);
    },
    toggleState(id: number, state: boolean): void {
      this.$emit('changeItem', id, state);
    },
    getMenuItems(): IMenuItem[] {
      return [
        { title: 'BUTTONS.EDIT', icon: 'mdi-pencil', iconColor: 'primary', value: 'edit' as 'edit' | 'delete' },
        { title: 'BUTTONS.REMOVE', icon: 'mdi-delete-forever', iconColor: 'error', value: 'delete' as 'edit' | 'delete' }
      ]
    },
    actionItem(action: 'delete' | 'edit', item: ITodo): void {
      switch (action) {
        case 'delete': this.$emit('deleteItem', item.id); break;
        case 'edit': this.$emit('editItem', item); break;
      }
    }
  },
  beforeMount() {
    this.closeAllTextBody()
  }
})
</script>

<style lang="scss" scoped>

</style>