<template>
  <v-menu>
    <template v-slot:activator="{ props }">
      <v-btn class="menu-button" icon="mdi-dots-vertical" v-bind="props" variant="text"></v-btn>
    </template>

    <v-list>
      <v-list-item
          v-for="(item, i) in items"
          :key="i"
          @click="$emit('selectItem', item.value)"
          link
      >
        <div class="menu-item-content">
          <v-icon :color="item.iconColor">{{ item.icon }}</v-icon>
          <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
        </div>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import type {PropType} from "vue";
import type {IMenuItem} from "@/models/interfaces/menu-item.interface";

export default defineComponent({
  props: {
    items: {
      type: Array as PropType<IMenuItem[]>,
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>
  .menu-button {
    font-size: 1.6rem;
  }

  .menu-item-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;

    .v-list-item-title {
      font-size: 1.4rem;
    }
  }
</style>
