<template>
  <v-dialog v-model="showGallery">
    <v-btn
        variant="text"
        @click="$emit('close-gallery')"
        class="close-btn"
    >
      <v-icon :icon="'mdi-close'"/>
    </v-btn>

    <Swiper
        :pagination="true"
        :navigation="true"
        :modules="modules"
        :initialSlide="initialSlide"
        class="mySwiper"
    >
      <SwiperSlide v-for="image in images">
        <img :src="image" alt="" />
      </SwiperSlide>
    </Swiper>
  </v-dialog>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import type {PropType} from "vue";
import type {IPhoto} from "@/models/interfaces/photo.interface";

import { Pagination, Navigation } from "swiper";
import { Swiper, SwiperSlide } from 'swiper/vue';
import "swiper/css/pagination";
import "swiper/css/navigation";
import "swiper/css";

export default defineComponent({
  components: {
    Swiper, SwiperSlide,
  },
  props: {
    photos: {
      type: Array as PropType<IPhoto[]>,
      default: []
    },
    showGallery: {
      type: Boolean,
      require: true
    },
    initialSlide: {
      type: Number,
      default: 1
    }
  },
  setup() {
    return {
      modules: [Pagination, Navigation],
    };
  },
  computed: {
    images(): string[] {
      return this.photos.map(e => e.url);
    }
  },
})
</script>

<style lang="scss" scoped>
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  max-height: calc(100vh - 48px);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close-btn {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 8rem;
  height: 8rem;
  padding: 0;
  font-size: 4rem;
  color: var(--color-white);
  border-radius: 50%;
}
</style>
