<template>
  <v-dialog v-model="show" @click.only="cancel">
    <v-card @click.stop>
      <v-card-title>{{ $t(title) }}</v-card-title>

      <v-form
          ref="form"
          v-model="valid"
          lazy-validation
      >
        <v-text-field
            :modelValue="entityDialog.getTitle"
            :label="$t('MODAL_FIELDS.TITLE')"
            :rules="textRules"
            ref="title"
            variant="outlined"
            clearable
        />

        <template v-if="entityType === EntityModalType.photo">
          <v-text-field
              :label="$t('MODAL_FIELDS.URL_IMAGE')"
              :rules="textRules"
              v-model="url"
              ref="url"
              variant="outlined"
              clearable
          />
          <v-text-field
              :label="$t('MODAL_FIELDS.URL_THUMB')"
              :rules="textRules"
              v-model="thumbnailUrl"
              ref="thumbnailUrl"
              variant="outlined"
              clearable
          />
        </template>

        <v-textarea
            :modelValue="post.body"
            v-if="entityType === EntityModalType.post"
            :label="$t('MODAL_FIELDS.POST_BODY')"
            :rules="textRules"
            variant="outlined"
            clearable
            ref="body"
        />

        <v-card-actions>
          <v-btn
              color="primary"
              variant="flat"
              @click="validate()"
          >{{ $t(approveButtonCaption) }}</v-btn>
          <v-btn
              color="primary"
              variant="outlined"
              @click="cancel"
          >{{ $t(declineButtonCaption) }}</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {EntityModalType} from "@/models/enums/entity-modal-types.enum";
import type {IPost} from "@/models/interfaces/post.interface";
import type {IAlbum} from "@/models/interfaces/album.interface";
import type {ITodo} from "@/models/interfaces/todo.interface";
import {useMainStore} from '@/stores/store';
import {apiService} from '@/services/api/api-service'
import {useSnackbarStore} from "@/stores/snackbar-store";
import {SnackbarType} from "@/models/enums/snackbar-type.enum";
import {mapActions, mapState} from "pinia";
import {useEntityDialogStore} from "@/stores/entity-dialog";

export default defineComponent({
  data() {
    return {
      EntityModalType,
      valid: false,
      url: 'https://via.placeholder.com/600/92c952',
      thumbnailUrl: 'https://via.placeholder.com/150/92c952',

      textRules: [
        (v: string): boolean | string => !!v || 'Field is required'
      ],

      store: useMainStore(),
      entityDialog: useEntityDialogStore(),
      apiService,
      snackbar: useSnackbarStore(),
    }
  },
  computed: {
    ...mapState(useEntityDialogStore, [
      'show', 'title', 'message', 'approveButtonCaption', 'declineButtonCaption', 'entityType', 'todo', 'post', 'album',
    ]),
  },
  methods: {
    ...mapActions(useEntityDialogStore, ['hideModal', 'agree', 'cancel']),

    closeDialog() {
      this.$emit('closeDialog');
    },
    async validate () {
      const { valid } = await (this.$refs.form as HTMLFormElement).validate()

      if (valid) {
        switch (this.entityType) {

          // POST
          case this.EntityModalType.post:
            this.store.isLoading = true;
            const postParam: [string, string, number, IPost] = [
              (this.$refs.title as HTMLFormElement).value,
              (this.$refs.body as HTMLFormElement).value,
              this.store.getUserId(),
              this.post
            ];
            this.entityDialog.getPost(...postParam)
                .then(post => this.entityDialog.agree(post))
                .catch(() => this.snackbar.show('MESSAGES.COMMON_ERROR', SnackbarType.error))
                .finally(() => this.store.isLoading = false)
            break;

          // TODO_ITEM
          case this.EntityModalType.todo:
            this.store.isLoading = true;
            const todoParam: [string, number, ITodo] = [
              (this.$refs.title as HTMLFormElement).value,
              this.store.getUserId(),
              this.todo
            ];
            this.entityDialog.getTodo(...todoParam)
                .then(todo => this.entityDialog.agree(todo))
                .catch(() => this.snackbar.show('MESSAGES.COMMON_ERROR', SnackbarType.error))
                .finally(() => this.store.isLoading = false)
            break;

          // ALBUM
          case this.EntityModalType.album:
            this.store.isLoading = true;
            const albumParam: [string, number, IAlbum] = [
              (this.$refs.title as HTMLFormElement).value,
              this.store.getUserId(),
              this.album
            ];
            this.entityDialog.getAlbum(...albumParam)
                .then(album => this.entityDialog.agree(album))
                .catch(() => this.snackbar.show('MESSAGES.COMMON_ERROR', SnackbarType.error))
                .finally(() => this.store.isLoading = false)
            break;

          // PHOTO
          case this.EntityModalType.photo:
            this.store.isLoading = true;
            const photoParam: [string, string, string, number] = [
              (this.$refs.title as HTMLInputElement).value,
              (this.$refs.url as HTMLInputElement).value,
              (this.$refs.thumbnailUrl as HTMLInputElement).value,
              this.album?.id!
            ];
            this.entityDialog.getPhoto(...photoParam)
                .then(photo => this.entityDialog.agree(photo))
                .catch(() => this.snackbar.show('MESSAGES.COMMON_ERROR', SnackbarType.error))
                .finally(() => this.store.isLoading = false)
            break;
        }
      }
    },
  },

})
</script>
