<template>
  <CustomSwiper
      :photos="currentPhotos"
      :show-gallery="fullscreen"
      :initial-slide="selectedPhoto"
      @close-gallery="closeGallery"
  />

  <div class="container gallery">
    <div
        v-for="(item, index) of currentPhotos"
        :data-title="item.title"
        :data-id="item.id"
        class="gallery__item"
        @click="open(index)"
    >
      <img :src="item.thumbnailUrl" alt="Photo"/>
      <v-btn
          v-if="mode === modeType.edit"
        @click.stop="$emit('delete-photo', item.id)"
        class="gallery__button"
        variant="text"
      >
        <v-icon icon="mdi-delete"/>
      </v-btn>
    </div>
  </div>
  <v-pagination v-model="currentPage" :length="totalPages"></v-pagination>

</template>

<script lang="ts">
import type {PropType} from "vue";
import type {IPhoto} from "@/models/interfaces/photo.interface";
import {defineComponent} from "vue";
import CustomSwiper from "@/components/custom-swiper.vue";
import type{ModeType} from "@/models/enums/mode-type.enum";
import {ModeType as modeType} from "@/models/enums/mode-type.enum";

export default defineComponent({
  emits: [
    'delete-photo'
  ],
  components: {
    CustomSwiper
  },
  props: {
    photos: {
      type: Array as PropType<IPhoto[]>,
      default: []
    },
    maxNumItemsOnPage: {
      type: Number,
      default: 10,
    },
    mode: {
      type: String as PropType<ModeType>,
      required: false,
    }
  },
  data() {
    return {
      currentPage: 1,
      fullscreen: false,
      selectedPhoto: 0,
      modeType
    }
  },
  computed: {
    currentPhotos(): IPhoto[] {
      const start: number = (this.currentPage - 1) * this.maxNumItemsOnPage;
      const end = start + this.maxNumItemsOnPage;
      return this.photos.slice(start, end);
    },
    totalPages(): number {
      return Math.ceil(this.photos.length / this.maxNumItemsOnPage);
    },
  },
  methods: {
    open(photoNumber: number) {
      this.selectedPhoto = photoNumber;
      this.fullscreen = true;
    },
    closeGallery(): void {
      this.fullscreen = false;
    }
  }
})
</script>

<style lang="scss" scoped>
:host {
  height: auto;
  background-color: var(--color-white);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    position: relative;
    display: block;
    width: 15rem;
    height: 15rem;
    margin: 0 0.8rem 0.8rem 0;
    border-radius: 1.6rem;
    overflow: hidden;
    box-shadow: var(--shadow-button);
    cursor: pointer;

    &::before {
      content: attr(data-title);
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding: 0.8rem;
      background-color: var(--color-white-semi-transparent);
      color: var(--color-dark-gunmetal);
      transition: 0.3s;
      font-size: 1.2rem;
      line-height: 1.2;
    }

    &::after {
      content: attr(data-id);
      position: absolute;
      top: 0.4rem;
      left: 0.4rem;
      padding: 0 0.4rem;
      background-color: var(--color-white);
      color: var(--color-dark-gunmetal);
      border-radius: 50%;
      font-size: 0.8rem;
      height: 2.6rem;
      width: 2.6rem;
      line-height: 2.6rem;
      text-align: center;
    }

    &:hover::before {
      transform: translateY(-100%);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__button {
    --button-height: 2.6rem;
    --button-width: 2.6rem;
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    background-color: var(--color-white);
    color: var(--color-carmine-pink);
    height: var(--button-height);
    min-width: var(--button-width);
    padding: 0;
    border-radius: 50%;
  }
}
</style>