<template>
  <v-btn
    id="menu-activator"
    :color="light ? 'white' : 'var(--color-onyx)'"
    variant="text"
  >
    {{ $t(langStore.currentLangName) }}
  </v-btn>

  <v-menu activator="#menu-activator">
    <v-list>
      <v-list-item
        v-for="item in langList"
        @click="change(item);langStore.changeLang(LangType[item])"
        :key="item"
        :value="item"
      >
        <v-list-item-title>{{ $t('LANG.' + item.toUpperCase()).toUpperCase() }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useLangStore } from "@/stores/lang-store";
import { LanguagesEnum } from "@/models/enums/languages.enum";

export default defineComponent({
  props: {
    light: {
      default: false,
      type: Boolean,
      required: false
    }
  },
  data() {
    return {
      items: [],
      langStore: useLangStore(),
      LangType: LanguagesEnum,
    }
  },
  computed: {
    langList(): string[] {
      return this.langStore.getLangList();
    }
  },
  methods: {
    change(item: string): void {
      this.$i18n.locale = item;
      this.langStore.changeLang(item as LanguagesEnum);
    }
  }
})
</script>

<style lang="scss" scoped>
  .trigger-button {
    color: var(--color-white);
  }

  .v-list-item-title {
    font-size: 1.4rem;
    font-weight: var(--fw-medium);
    color: rgba(0, 0, 0, 0.7);
  }

  .v-theme--dark .v-list-item-title {
    color: var(--color-white);
  }
</style>
