<template>
  <v-dialog v-model="show" @click.only="cancel">
    <v-card @click.stop>
      <v-card-title>{{ $t(title) }}</v-card-title>
      <v-card-text v-if="message">{{ $t(message) }}</v-card-text>

      <v-card-actions v-if="isAlertModal">
        <v-btn
            v-if="approveButtonCaption"
            color="primary"
            variant="flat"
            @click="agree"
        >{{ $t(approveButtonCaption) }}
        </v-btn>
      </v-card-actions>

      <v-card-actions v-if="isConfirmModal">
        <v-btn
            color="primary"
            variant="flat"
            @click="agree"
        >{{ $t(approveButtonCaption) }}
        </v-btn>
        <v-btn
            v-if="declineButtonCaption"
            color="primary"
            variant="outlined"
            @click="cancel"
        >{{ $t(declineButtonCaption) }}
        </v-btn>
      </v-card-actions>

    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { MessageModalType } from "@/models/enums/message-modal-type.enum";
import { defineComponent } from "vue";
import { useMessageDialogStore } from "@/stores/message-dialog";
import { mapActions, mapState } from "pinia";

export default defineComponent({
  data() {
    return {
      messageService: useMessageDialogStore(),
    }
  },
  computed: {
    ...mapState(useMessageDialogStore, [
      'show', 'title', 'message', 'approveButtonCaption', 'declineButtonCaption', 'modalType'
    ]),

    isConfirmModal(): boolean {
      return this.modalType === MessageModalType.confirm;
    },

    isAlertModal(): boolean {
      return this.modalType === MessageModalType.alert;
    },
  },
  methods: {
    ...mapActions(useMessageDialogStore, ['hideModal', 'agree', 'cancel']),
  },
})
</script>
