<template>
  <div class="switcher">
    <v-icon class="switcher__icon" icon="mdi-weather-sunny"></v-icon>
    <v-switch v-model="darkTheme" @change="toggleMode()"/>
    <v-icon class="switcher__icon" icon="mdi-weather-night"></v-icon>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useMainStore } from "@/stores/store";

export default defineComponent({
  data() {
    return {
      store: useMainStore(),
      darkTheme: useMainStore().darkMode
    }
  },
  methods: {
    toggleMode() {
      this.store.toggleDarkMode();
    }
  }
})
</script>

<style lang="scss" scoped>
  .switcher {
    display: flex;
    gap: 1rem;
    padding: 0.4rem 1.2rem;
    color: var(--color-platinum);
    border-radius: 0.8rem;
    box-shadow: inset 0 0.2rem 1rem rgb(0, 0, 0, 0.25);

    align-items: center;

    &__icon {
      filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.4));
    }

    .v-switch .v-selection-control--dirty .v-selection-control__input {
      background-color: var(--color-quick-silver);
    }

    ::v-deep {
      .v-switch .v-selection-control {
        --v-input-control-height: 0;
      }

      .v-selection-control__wrapper {
        --v-selection-control-size: 2rem
      }

      .v-input__details {
        display: none;
      }
    }
  }
</style>
