<template>
  <div class="main-wrapper" :class="{darkMode: darkMode}">
    <Snackbar />
    <MessageDialog />
    <EntityDialog />

    <div v-show="isLoading" class="loader-wrapper">
      <v-progress-circular :size="100" :width="7" color="blue" indeterminate />
    </div>

    <template v-if="isLogined">
      <MainHeader @logout="logout()"></MainHeader>

      <div class="content">
        <SideNav/>
        <div class="content__main">
          <BreadCrumb />

          <router-view></router-view>
        </div>
      </div>
    </template>

    <template v-else>
      <auth @login="loggedIn()"></auth>
    </template>
  </div>
</template>

<script lang="ts">
  import MainHeader from './layouts/main-header/main-header.component.vue';
  import SideNav from './layouts/side-navigation/side-nav.component.vue';
  import Auth from './pages/auth.vue';
  import Snackbar from './components/custom-snackbar.vue';
  import BreadCrumb from './components/bread-crumbs.vue';
  import MessageDialog from '@/components/message-dialog.vue';
  import EntityDialog from "@/components/entity-dialog.vue";
  import { defineComponent } from "vue";
  import { useMainStore } from "@/stores/store";
  import { useLangStore } from "@/stores/lang-store";

  export default defineComponent({
    name: 'App',
    components: {
      EntityDialog,
      MainHeader,
      SideNav,
      Auth,
      Snackbar,
      BreadCrumb,
      MessageDialog
    },
    data() {
      return {
        store: useMainStore(),
        langStore: useLangStore(),
        isLogined: false,
      }
    },
    created() {
      this.store.getDataFromLocal();
      this.isLogined = this.store.isLogined;
      this.store.getDarkModeFromLocal();
      this.langStore.loadCurrentLang();
      this.$i18n.locale = this.langStore.currentLang;
    },
    methods: {
      loggedIn() {
        this.$router.push('/');
        this.isLogined = true;
        this.store.setLogined();
      },
      logout() {
        this.isLogined = false;
        this.store.logout();
      }
    },
    computed: {
      darkMode() {
        return this.store.darkMode;
      },
      isLoading() {
        return this.store.isLoading;
      }
    }
  })
</script>

<style lang="scss" scoped>
  .loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2500;
    background: rgba(0,0,0,.25);
  }

  .content {
    display: flex;
    max-width: var(--max-page-width);
    margin: 0 auto;

    &__main {
      background-color: var(--color-content-bg);
      flex-grow: 1;
      padding: 0;
      width: calc(100% - 270px);
    }
  }
</style>
