<template>
  <div class="user">
    <div class="user__img-wrapper">
      <img class="user__img" :src="photoUrl" alt="">
    </div>

    <div class="user__name">{{ userName }}</div>
    <div class="user__company">{{ userCompany }}</div>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import imagePaths, {adminPhoto, unknownPhoto} from './users-photo'
import {useMainStore} from "@/stores/store";
import {Role} from '@/models/enums/roles.enum';

export default defineComponent({
    data() {
      return {
        store: useMainStore(),
        role: useMainStore().role as Role,
      }
    },
    computed: {
      userName(): string {
        return this.role === Role.admin ? this.$t('USER.ADMIN_NAME') : (this.store.user?.name || '');
      },
      userCompany(): string {
        return this.role === Role.admin ? this.$t('USER.ADMIN_COMPANY') : (this.store.user?.company?.name || '');
      },
      photoUrl(): string {
        return this.role === Role.admin
            ? adminPhoto
            : this.store.user?.id
              ? imagePaths[this.store.user.id]
              : unknownPhoto;
      }
    }
  })
</script>

<style lang="scss" scoped>
  .user {
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--color-platinum);

    &__img-wrapper {
      margin: 0 auto 1.6rem;
      text-align: center;
    }

    &__img {
      width: 10rem;
      height: 10rem;
      font-size: 10rem;
      box-shadow: var(--shadow-block);
      border-radius: 50%;
      color: var(--color-slate-gray);
      background-color: var(--color-ghost-white);
    }

    &__name {
      margin-bottom: 0.4rem;
      color: var(--nav-title-text);
      font-size: 1.6rem;
      font-weight: 400;
      text-align: center;
    }

    &__company {
      color: var(--nav-subtitle-text);
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
    }
  }
</style>
