<template>
  <nav class="nav">
    <ul class="nav__list">
      <li v-for="item in navItemsForCurrentRole" class="nav__list-item" key={item.title}>
        <router-link :to="item.link" class="nav__link" :class="{'is-active': subIsActive(item.link)}">
          <span class='nav__icon'>
            <v-icon size="large">{{ item.icon }}</v-icon>
          </span>
          <span>{{ $t('NAV.' + item.title) }}</span>
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { Role } from "@/models/enums/roles.enum";
import { defineComponent } from "vue";
import type { INavItem } from "@/models/interfaces/nav-item.interface";
import {useMainStore} from "@/stores/store";

export default defineComponent({
  data() {
    return {
      store: useMainStore(),
      role: useMainStore().role as Role,
      iconPath: './src/assets/images/svg/' as string,
      navItems: [
        {
          icon: 'mdi-account-multiple-outline',
          title: 'USERS',
          link: '/users',
          roles: [Role.user, Role.admin]
        },
        {
          icon: 'mdi-account-multiple-outline',
          title: 'MY_DATA',
          link: '/user-data',
          roles: [Role.user]
        },
        {
          icon: 'mdi-note-multiple-outline',
          title: 'MY_POSTS',
          link: '/posts',
          roles: [Role.user]
        },
        {
          icon: 'mdi-image-multiple',
          title: 'MY_ALBUMS',
          link: '/albums',
          roles: [Role.user]
        },
        {
          icon: 'mdi-format-list-checks',
          title: 'MY_TODOS',
          link: '/todos',
          roles: [Role.user]
        },
        {
          icon: 'mdi-chart-line',
          title: 'MY_CHART',
          link: '/statistics',
          roles: [Role.user]
        }
      ] as INavItem[]
    }
  },
  computed: {
    navItemsForCurrentRole(): INavItem[] {
      return this.navItems.filter((e: INavItem): boolean => e.roles.includes(this.role));
    }
  },
  methods: {
    subIsActive(link: string): boolean {
      return this.$route.path.indexOf(link) === 0;
    }
  }
})
</script>

<style scoped lang="scss">
  .nav {
    &__list {
      margin: 0;
      padding: 0;
    }

    &__list-item {
      display: block;
      margin-bottom: 0.8rem;
    }

    &__link {
      display: flex;
      align-content: center;
      min-height: 4.6rem;
      padding: 1rem 1.8rem;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: var(--fw-medium);
      border-radius: 0.4rem;
      color: var(--nav-link-text);

      i {
        font-size: 2.4rem;
      }

      span {
        display: inline-flex;
        align-items: center;
      }

      &:hover {
        background-color: var(--nav-link-active-bg);
      }

      &.is-active {
        background-color: var(--nav-link-active-bg);
        box-shadow: inset 3px 0 0 var(--color-denim);
      }
    }

    &__icon {
      margin-right: 1rem;
      height: 2.4rem;
      flex: 0 0 2.4rem;
    }
  }
</style>
