<template>
  <div class='sidebar'>
    <SideNavUser />
    <SideNavList />
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import SideNavUser from "@/layouts/side-navigation/side-nav-user.component.vue";
  import SideNavList from "@/layouts/side-navigation/side-nav-list.component.vue";

  export default defineComponent({
    components: {
      SideNavUser,
      SideNavList
    }
  })
</script>

<style scoped lang="scss" >
  .sidebar {
    width: 27rem;
    height: calc(100vh - 6.4rem);
    min-height: 100%;
    padding: 2.4rem 1.6rem;
    border: 1px solid var(--nav-border);
    background: var(--nav-bg);
  }
</style>