<template>
  <router-link :to="'users/' + user.id" class="user">
    <div class="user__id">{{ user.id }}</div>
    <div class="user__name">{{ user.name }}</div>
    <div class="user__address">
      {{ user.address.city }},
      {{ user.address.street }},
      {{ user.address.suite }}
    </div>
  </router-link>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import type {IUser} from "@/models/interfaces/user.interface";

export default defineComponent({
  props: {
    user: {
      type: Object as () => IUser,
      required: true,
      default: null
    }
  }
})
</script>

<style lang="scss" scoped>
.user {
  padding: 1.6rem;
  box-shadow: var(--shadow-block);
  background-color: var(--color-bg-theme);
  border-radius: 0.4rem;
  display: flex;
  align-items: baseline;
  margin-bottom: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s background-color;

  &:hover {
    background-color: var(--color-user-bg-hover);
  }

  &__id {
    width: 4rem;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: var(--fw-regular);
    color: var(--color-denim);
  }

  &__name {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: var(--fw-medium);
    color: var(--color-user-name);
    width: 24rem;
  }

  &__address {
    font-size: 1.4rem;
    font-weight: var(--fw-regular);
    color: var(--color-quick-silver);
  }
}
</style>
