<template>
  <div class="items">
    <UserItem v-for="user of currentUsers" :user="user"></UserItem>
    <v-pagination v-model="currentPage" :length="totalPages"></v-pagination>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {useMainStore} from "@/stores/store";
import {useCrumbsStore} from "@/stores/crumbs-store";
import type {IUser} from "@/models/interfaces/user.interface";
import {apiUserService} from '@/services/api/api-user-service';
import type {ICrumb} from "@/models/interfaces/crumb.interface";
import UserItem from "@/pages/users/user-item.vue"

export default defineComponent({
  components: {
    UserItem
  },
  props: {
    maxNumItemsOnPage: {
      default: 5,
      required: false,
    },
  },
  data() {
    return {
      store: useMainStore(),
      crumb: useCrumbsStore(),
      users: [] as IUser[],
      apiUserService,

      paginationPage: 1 as Number,
      currentPage: 1,
    }
  },
  computed: {
    currentUsers(): IUser[] {
      const start: number = (this.currentPage - 1) * this.maxNumItemsOnPage;
      const end = start + this.maxNumItemsOnPage;
      return this.users.slice(start, end);
    },

    totalPages(): number {
      return Math.ceil(this.users.length / this.maxNumItemsOnPage);
    },

    crumbsList(): ICrumb[] {
      return [
        {
          title: 'BREAD_CRUMBS.USERS',
          disabled: true,
          to: ''
        }
      ] as ICrumb[]
    }
  },
  methods: {
    async getUsers(): Promise<void> {
      this.store.isLoading = true;
      this.users = await this.apiUserService.getUsers();
      this.crumb.setCrumbs(this.crumbsList);
      this.store.isLoading = false;
    },
  },
  mounted() {
    this.getUsers();
  }
})
</script>

<style lang="scss" scoped></style>